html,
body {
    margin: 0;
    padding: 0;
}
h1 {
    margin-top: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    gap: 2rem;
}
.machine-selector {
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: center;
    background: #e0ffff;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    gap: 1rem;
}

.selector-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.selector-data select {
    padding: 0.2rem;
}
.selector-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    background: #f8fafc;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.specs-table {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    gap: 2rem;
}
.proceed-btn {
    border: none;
    padding: 0.5rem;
    background: #afeeee;
    border-radius: 0.5rem;
    color: #e0ffff;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}
.proceed-btn:hover {
    background: #4682b4;
    color: white;
}
.data-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
}
.data-input input,
.data-input select {
    border: 1px solid #6f8faf;
    background: #f0ffff;
}
.data-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}
.data-container input {
    padding: 0.3rem;
    text-align: center;
}
.inprocess-container {
    display: flex;
    width: 95vw;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 5rem;
    flex-direction: column;
    background: #f8fafc;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.barreling-table {
    border-collapse: collapse;
    width: 25rem;
    table-layout: fixed;
}
.barreling-process {
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
}
.barreling-process th,
.barreling-process td {
    width: 5rem;
    font-size: 12px;
    padding: 0.4rem;
    text-align: center;
}
.barreling-table p {
    margin: 0rem;
}
.barreling-table th,
.barreling-table tr {
    text-align: center;
    width: 18rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: Center;
}
.input-container input {
    text-align: center;
    padding: 0.2rem;
    border: none;
    margin: 0.1rem;
    width: 92%;
}
.time-data {
    background: #e0ffff;
}
.rotation-data {
    background: #fff8dc;
}
.specs-input {
    border: 1px solid #63c1ff;
    background: #f0f9ff;
    text-align: center;
    width: 4rem;
    padding: 0.2rem;
}
.specs-input:hover {
    background: #c1e6ff;
}
.specs-table {
    margin: 1rem;
}
.data-table {
    overflow: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.specs-remarks button {
    background: #b8d9ff;
    border-radius: 0.2rem;
    border: none;
    padding: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    color: white;
}

.specs-remarks button:hover {
    background: #004ca3;
}

.inprocess-details h1 {
    font-size: 25px;
}

.mode-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.specs-details {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    border: 2px solid #1c69a8;
}

.specs-details h2 {
    font-size: 15px;
    margin: 1rem;
}

.specs-details-data {
    display: flex;
    gap: 1rem;
    items: center;
    justify-content: center;
    align-items: center;
}
.title-center {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.title-center h1 {
    font-size: 20px;
    padding: rem;
}
.titletables {
    background: #314158;
    color: white;
}
.titlesubtables {
    background: #4b6486;
    color: white;
}
.specs-details {
    background: #e9f3fb;
    color: black;
}
.specs-max-data {
    display: flex;
    gap: 1rem;
    items: center;
    justify-content: center;
    align-items: center;
    background: #e1712b;
    padding: 0 1rem;
    color: white;
}
.specs-target-data {
    display: flex;
    gap: 1rem;
    items: center;
    justify-content: center;
    align-items: center;
    background: #2aa63e;
    padding: 0 1rem;
    color: white;
}

.specs-min-data {
    display: flex;
    gap: 1rem;
    items: center;
    justify-content: center;
    align-items: center;
    background: #f54927;
    padding: 0 1rem;
    color: white;
}
.specs-max {
    background: blue;
}
.pt-color {
    background: #34cb8f;
    color: #0f3928;
}
.max-color {
    background: #ff9a2e;
}
.worst-color {
    background: #ffdf20;
}
.specs-bottom {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 1rem;
    border-radius: 1rem;
    height: 18rem;
}

.specs-remarks {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin: 1rem;
    padding: 0.2rem;
}

.specs-remarks-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5remrem;
    padding: 1rem;
    width: 30rem;
    margin: 1rem;
    border-radius: 1rem;
    background: #f5f5f4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.specs-requirements {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}
.error-theme {
    color: red;
}
.success-theme {
    color: #2aa63e;
}
.notif-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    right: 5rem;
    bottom: 5rem;
    padding: 2rem;
    width: 25rem;
    height: 2rem;
    border-radius: 1rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.notification-message {
    color: white;
}
.pic-password {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    background-color: rgb(202, 213, 2266, 0.2);
}
.enter-password h4 {
    margin: 1rem;
}

.enter-password p {
    padding: 1rem;
    margin: 0rem;
}
.enter-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    width: 30rem;
    padding: 0.5rem;
    height: 15rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.admin-pic {
    padding: 0.5rem;
    text-align: center;
    margin: 0.8rem;
}
.enter-password button {
    padding: 0 1rem;
    align-self: flex-end;
    border: none;
    background: none;
    border: none;
    cursor: pointer;
}

.password-container button {
    background: rgb(41, 132, 209, 0.5);
    height: 2rem;
    color: white;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.password-container button:hover {
    background: #00b2ff;
}
