/* //animate


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    margin-top: 1rem;
    gap: 1rem;
}
.machine-selector {
    display: flex;
    width: 95vw;
    align-items: center;
    justify-content: center;
    background: #e0ffff;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    gap: 1rem;
    margin-bottom: 1rem;
}

.selector-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.selector-data select {
    padding: 0.2rem;
}
.selector-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    border-radius: 1rem;
    background: #f8fafc;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.specs-table {
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    gap: 2rem;
}
.proceed-btn {
    border: none;
    padding: 0.5rem;
    background: #afeeee;
    border-radius: 0.5rem;
    color: #e0ffff;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    cursor: pointer;
}
.proceed-btn:hover {
    background: #4682b4;
    color: white;
}
.data-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
}

.data-input input {
    border: 1px solid #6f8faf;
    background: #f0ffff;
}
.data-input select {
    border: 1px solid #6f8faf;
    background: #f0ffff;
    width: 11rem;
    padding: 0.5rem;
}
.data-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.2rem;
}
.data-container input {
    padding: 0.3rem;
    text-align: center;
}
.inprocess-container {
    display: flex;
    width: 95vw;
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 5rem;
    flex-direction: column;
    background: #f8fafc;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.barreling-table {
    border-collapse: collapse;
    width: 25rem;
    table-layout: fixed;
}
.barreling-process {
    border-collapse: collapse;
    table-layout: fixed;
    overflow: auto;
}
.barreling-process th,
.barreling-process td {
    width: 5rem;
    font-size: 12px;
    padding: 0.4rem;
    text-align: center;
}
.barreling-table p {
    margin: 0rem;
}
.barreling-table th,
.barreling-table tr {
    text-align: center;
    width: 18rem;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: Center;
}
.input-container input {
    text-align: center;
    padding: 0.2rem;
    border: none;
    margin: 0.1rem;
    width: 92%;
}
.time-data {
    background: #e0ffff;
}
.rotation-data {
    background: #fff8dc;
}
.specs-input {
    border: 1px solid #63c1ff;
    background: #f0f9ff;
    text-align: center;
    width: 4rem;
    padding: 0.2rem;
}
.specs-input:hover {
    background: #c1e6ff;
}
.specs-table {
    margin: 1rem;
}
.data-table {
    overflow: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.specs-remarks button {
    background: #b8d9ff;
    border-radius: 0.2rem;
    border: none;
    padding: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    color: white;
}

.specs-remarks button:hover {
    background: #004ca3;
}

.inprocess-details h1 {
    font-size: 25px;
}

.mode-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.specs-details {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    border: 2px solid #1c69a8;
}

.specs-details h2 {
    font-size: 15px;
    margin: 1rem;
}

.specs-details-data {
    display: flex;
    gap: 1rem;
    items: center;
    justify-content: center;
    align-items: center;
}
.title-center {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
.title-center h1 {
    font-size: 20px;
    padding: rem;
}
.titletables {
    background: #314158;
    color: white;
}
.titlesubtables {
    background: #4b6486;
    color: white;
}
.specs-details {
    background: #e9f3fb;
    color: black;
}
.specs-max-data {
    display: flex;
    gap: 1rem;
    items: center;
    justify-content: center;
    align-items: center;
    background: #e1712b;
    padding: 0 1rem;
    color: white;
}
.specs-target-data {
    display: flex;
    gap: 1rem;
    items: center;
    justify-content: center;
    align-items: center;
    background: #2aa63e;
    padding: 0 1rem;
    color: white;
}

.specs-min-data {
    display: flex;
    gap: 1rem;
    items: center;
    justify-content: center;
    align-items: center;
    background: #f54927;
    padding: 0 1rem;
    color: white;
}
.specs-max {
    background: blue;
}
.pt-color {
    background: #34cb8f;
    color: #0f3928;
}
.max-color {
    background: #ff9a2e;
}
.worst-color {
    background: #ffdf20;
}
.specs-bottom {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 1rem;
    border-radius: 1rem;
    height: 18rem;
}

.specs-remarks {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    margin: 1rem;
    padding: 0.2rem;
}

.specs-remarks-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5remrem;
    padding: 1rem;
    width: 30rem;
    margin: 1rem;
    border-radius: 1rem;
    background: #f5f5f4;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.specs-requirements {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}
.error-theme {
    color: red;
}
.success-theme {
    color: #2aa63e;
}
.notif-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    right: 5rem;
    bottom: 5rem;
    padding: 2rem;
    width: 25rem;
    height: 2rem;
    border-radius: 1rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.notification-message {
    color: white;
}
.pic-password {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 900;
    background-color: rgb(202, 213, 2266, 0.2);
}
.enter-password h4 {
    margin: 1rem;
}

.enter-password p {
    padding: 1rem;
    margin: 0rem;
}
.enter-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    width: 30rem;
    padding: 0.5rem;
    height: 15rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.admin-pic {
    padding: 0.5rem;
    text-align: center;
    margin: 0.8rem;
}
.enter-password button {
    padding: 0 1rem;
    align-self: flex-end;
    border: none;
    background: none;
    border: none;
    cursor: pointer;
}

.password-container button {
    background: rgb(41, 132, 209, 0.5);
    height: 2rem;
    color: white;
    border-radius: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.password-container button:hover {
    background: #00b2ff;
}
.cgh-table {
    border-collapse: collapse;
}

.cgh-table input {
    width: 3rem;
    border: none;
    text-align: center;
    padding: 0.3rem;
}
.cgh-table td {
    width: 3rem;
    padding: 0.2rem;
    text-align: center;
}

.cgh-table th {
    font-size: 12px;
    padding: 0.5rem;
}

.tally-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15rem;
    padding: 0.5rem;
    height: fit-content;
    max-height: fit-content;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 1rem;

    padding: 1rem;
}
.tally-group {
    display: flex;
    justify-content: center;
}
.tally-group h3 {
    font-size: 15px;
}

.tally-data {
    font-size: 12px;
    text-align: center;
    width: 7rem;
    padding: 0.1rem;
    background: #e6fcfe;
    border: 1px solid #0393a0;
    margin: 0.1rem;
}
.tally-main {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    gap: 1rem;
}
.input-data-box input {
    background: #fff4b8;
    border: 1px solid #a38b00;
}
.green-theme {
    background: #168d48;
    color: white;
    border: 1px solid #03160b;
}

.gray-theme {
    background: #1e2939;
    color: white;
    border: 1px solid #03160b;
}
.orange-theme {
    background: #fe9a37;
    color: white;
    border: 1px solid #753b01;
}
.light-gray-theme {
    background: #d0d9e6;
    color: white;
    border: 1px solid #03160b;
}
.light-green-theme {
    background: #4ae38a;
    color: #03160b;
    border: 1px solid #03160b;
}
.light-yellow-theme {
    background: #ffe72e;
    color: #1a1700;
    border: 1px solid #1a1700;
}

.light-blue-theme {
    background: #90cff9;
    color: #010f18;
    border: 1px solid #010f18;
}

.light-orange-theme {
    background: #ffc88a;
    color: #1a0e00;
    border: 1px solid #1a0e00;
}
.subprocess-btn {
    border: none;
    padding: 0.5rem;
    border-radius: 0.4rem;
    padding: 0.5rem;
    background: #002f75;
    color: white;
    cursor: pointer;
    margin: 0rem 1rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@keyframes floatUp {
    0% {
        transform: translateY(12px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.subprocess-main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    opacity: 0;
    animation: floatUp 3s ease-in-out forwards;
}

.subprocess-btn:hover {
    background: #155dfc;
    box-shadow:
        rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-orientation: mixed;
    text-align: center;
}
.sky-yellow-theme {
    background: #fff2bc;
    color: #1a1400;
    border: 1px solid #1a1400;
}

.sky-blue-theme {
    background: #ecfeff;
    color: #00181a;
    border: 1px solid #00181a;
}

.sky-orange-theme {
    background: #ffd6a7;
    color: #1a0e00;
    border: 1px solid #1a0e00;
}
.machine-setting {
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 2rem;
    right: 0;
    margin: 0rem 2rem;
}
.manage-container {
    padding: 1rem;
    margin: 1rem 0rem;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: auto;
}
.manage-input input,
.manage-input td,
.manage-input th {
    font-size: 13px;
    width: 5.5rem;
    maximum-width: fit-content;
}

button.add-btn {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background: #178236;
    color: #ffed8a;
    cursor: pointer;
}

button:hover.add-btn {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button.disabled-btn {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background: #012c22;
    color: #90a1b9;
    cursor: pointer;
}
.search-btn {
    padding: 0.5rem;
    text-align: center;
}
.adding-input {
    background: #f0f9ff;
    border: 1px solid #92d3ff;
    text-align: center;
    padding: 0.3rem;
}
.adding-disabled-input {
    background: #d3dae4;
    text-align: center;
    padding: 0.3rem;
}
button.saving-input {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    background: #175e23;
    color: white;
    margin: 0.4rem;
}
button:hover.saving-input {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button.updating-input {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    background: #05df72;
    color: white;
    margin: 0.4rem;
}

button:hover.updating-input {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button.deleting-input {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    background: #fb2c36;
    color: white;
    margin: 0.4rem;
}

button:hover.deleting-input {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.button-container {
    display: flex;
    flex-direction: row;
}
button.checking-input {
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    background: #003247;
    color: white;
    margin: 0.4rem;
}
button:hover.checking-input {
    background: #00b2ff;
}

td.range-adjust-td {
    background: orange;
    color: white;
}
td.range-success-td {
    background: green;
    color: white;
}

td.range-reject-td {
    background: red;
    color: white;
} */

// new design

html, body, #app {
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    background: #1a1d1d;
    color: #ffffff;
}
h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 18px;
}
.main-layout {
    display: grid;
    grid-template-columns: 6rem 1fr;
    height: 98vh;
}
.main-layout > main {
    padding: 15px;
    overflow-y: auto;
}
.side-bar {
    display: flex;
    justify-content: space-between;
    background-color: #2b2e2e;
    flex-direction: column;
    align-items: center;
    items-center: center;
    border-radius: 1.5rem;
    padding: 1rem 0.5rem;
    color: #696969;
}
.nav-btn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.side-upper nav {
    margin: 2rem 0;
}
.side-bar a {
    border: none;
    background: none;
    cursor: pointer;
    color: #696969;
}
.side-upper a {
    text-decoration: none;
    color: #696969;
    margin: 0;
}
.side-upper a:hover,
.side-bar a:hover {
    color: #d7fefa;
}

.page-content {
    animation: fadeIn 0.3s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
