@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.details-container-gray input {
    width: 6rem;
    border: none;
    border-radius: 1rem;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.details-container-gray input:disabled {
    background: gray;
    color: #ffffff;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.details-container-gray input:focus {
    outline: 1px solid #d7fefa;
    background: #d7fefa;
}
.details-container-gray h1 {
    color: #2b2e2e;
}

.details-container-gray {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: fit-content;
    max-width: 85vw;
    min-height: 13.5rem;
    max-height: fit-content;
    padding: 1rem 2rem;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    gap: 1rem;
    border-radius: 1.2rem;
    color: #2b2e2e;
    animation: fadeIn 0.3s ease-in-out;
    overflow-x: auto;
}

.details-container-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-between;
    flex-direction: row;
    color: #2b2e2e;
}
.details-part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.details-data {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 17rem;
}

.details-data input {
    padding: 0.3rem;
    font-size: 11px;
    text-align: center;
}
.details-data select {
    padding: 0.3rem;
    font-size: 11px;
    text-align: center;
}
.details-container-sky h1 {
    color: #2b2e2e;
}

.details-container-sky {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 13.5rem;
    min-height: fit-content;
    max-height: fit-content;
    padding: 1rem 2rem;
    background: #d7fefa;
    gap: 1rem;
    border-radius: 1.2rem;
    color: #2b2e2e;
    animation: fadeIn 0.3s ease-in-out;
}

.time-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
}
.timer-setting {
    display: flex;
    flex-direction: row;
    align-items: Center;
    gap: 1rem;
}
.timer-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 4.5rem;
    gap: 0.5rem;
}

.timer-data input {
    padding: 0.3rem;
    width: 100%;
    border-radius: 1rem;
    border: none;
    text-align: center;
    box-shadow:
        rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.timer-data input:focus {
    outline: 1px solid #ffa81c;
    background: #fbffed;
}
.timer-data button {
    border: none;
    background: none;
    cursor: pointer;
}

.add-timer:hover {
    color: #ffb93b;
}
.add-timer {
    color: #472e00;
}

.cancel-container {
    display: flex;
    justify-content: end;
    width: 100%;
}
.addtion-container {
    display: flex;
    flex-direction: row;
    width: 6rem;
    gap: 0.3rem;
}
.close-btn {
    color: red;
}
.status-btn {
    background: #195d8a;
    border: none;
    border-radius: 0.2rem;
    color: white;
    width: 6rem;
    margin-left: 1rem;
    padding: 0.5rem;
    cursor: pointer;
}
.status-btn:hover {
    background: #4ea5df;
}

.notification {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2rem;
    font-style: italic;
}
.error-notif-text {
    display: flex;
    justify-content: center;
    align-items: Center;
    color: #180501;
    width: 80%;
    background: #fcc6bb;
}

.cancel-btn {
    padding: 0.5rem;
    background: #faa18f;
    color: #180501;
    border-radius: 0.5rem;
    margin: 0.2rem;
}
.cancel-btn:hover {
    background: #f4320b;
    color: #feebe7;
}

.success-btn {
    padding: 0.5rem;
    background: #9aefbd;
    color: #03160b;
    border-radius: 0.5rem;
    margin: 0.2rem;
}
.success-btn:hover {
    background: #0d542b;
    color: #e9fcf1;
}

.password-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.password-container input {
    background: #e6fcff;
    border: 1px solid #028fa2;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
}
.password-container input:focus {
    background: none;
    outline: 1px solid #028fa2;
    box-shadow: rgba(83, 234, 253, 0.24) 0px 3px 8px;
}
.batch-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.batch-number {
    display: flex;
    padding: 0.1rem 0.4rem;
    border-radius: 0.5rem;
    background-image: linear-gradient(
        to top,
        #1e3c72 0%,
        #1e3c72 1%,
        #2a5298 100%
    );
}

.batch-number h1 {
    color: white;
}
